* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald';
    background-color: #FFFFFF;
}

:root{
    --primary-bg-color: #0E0641;
}

.head-menu-custom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-bg-color);
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
}

/* MENU DROPDWN */

.head-menu-custom .menu-navigation ul{
    display: flex;
    align-items: center;
}


.head-menu-custom .menu-navigation ul li {
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;

}

.head-menu-custom .menu-navigation ul .generos {
    color: #FFF;
    cursor: pointer;
    position:relative;
    float:left;
    
}

.head-menu-custom .menu-navigation ul .generos a {
    padding:5px 10px; 
    display:block;
}


.head-menu-custom .menu-navigation ul .generos ul {
    position:absolute;
    top:55px;
    left:0;
    background-color:#fff;
    display:none;
}

.head-menu-custom .menu-navigation ul .generos ul li {
    transition: all 300ms ease;
    display: block;
}

.head-menu-custom .menu-navigation ul .generos:hover > ul {
    display: block;
    background-color: #0E0641;
}

.head-menu-custom .menu-navigation ul li a {
    color: #FFF;
}

.head-menu-custom h1 {
    color: #FFF;
    font-size: 18px;
}

/* ÁREA DE GRID LAYOUT */

.container-principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 25px;
    margin-top: 150px;
}

.container-principal .intens-custom{
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    color: #0E0641;

}


.container-principal .intens-custom .descrition-name-filme .start-favorit {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 15px;
}


.container-principal .intens-custom .descrition-name-filme h2 {
    font-size: 19px;
}

.container-principal .intens-custom .descrition-name-filme .start-favorit p i {
    font-size: 19px;
    margin: 2px;
}
.container-principal .intens-custom img {
    width: 240px;
    height: 349px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}

.container-principal .intens-custom img:hover {
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.6);
    z-index: 1000;
}


/* ÁREA DEE RODAPE */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 100px;
    font-size: 20px;
    background-color: var(--primary-bg-color);
}